extends layout 

block content 
    div 
        a(href='/shop', style='text-decoration: none;')
            h2 Back to Shop
    .itemContainer
        h1= item.name
        if item.imgUrl
            div(style='max-width: 300px')
                img(src=item.imgUrl style="max-width: 100%")


        span #[strong Description] : #{item.description}
        span #[strong Qty in stock]: #{item.number_in_stock}
        span #[strong Price]: $ #{item.price}
        span #[strong Category]:
            for category, index in item.category 
                | #{category.name} #{index !== item.category.length - 1 ? ',' : ''}
        div(style='display:flex; gap: 10px') 
            a(href=`${item.url}/update`)
                button Edit Item
            a(href=`${item.url}/delete`)
                button Delete Item