extends layout 

block content 
    h1= title 

    form(method='POST' action='' enctype='multipart/form-data').createItemForm
        div.form-group 
            label(for='itemName') Item Name: 
            input(type='text', placeholder='Item Name' name='itemName' required='true' value=(item ? item.name : null))#itemName
        .form-group 
            label(for='itemDescription') Item Description:
            input(type='text', placeholder='Item description' name='itemDescription' required='true' value=(item ? item.description : null))#itemDescription
        .form-group 
            label(for='itemImageUrl') Upload Image: 
            input(type='file', id='itemImageUrl', name='itemImageUrl' accept='image/*' )
        div.form-group 
            label(for='itemPrice') Item Price: 
            input(type='number' required='true' step='any' name='itemPrice' value=(item ? item.price : null))#itemPrice
        div.form-group 
            label(for='itemStock') Number in stock: 
            input(type='number' name='itemStock' required='true' value=(item ? item.number_in_stock : null))#itemStock
        div.form-group 
            label Category:
            div  
                for category in categories 
                    div.categoryInput 
                        input.checkbox-input(type='checkbox', id=category._id, value=category._id, name='category', checked=category.checked)
                        label(for=category._id) #{category.name}
        button.submit-btn(type='submit') Submit
    if errors 
        ul 
            for error in errors 
                li!= error.msg
                // the != here means if you want to show the raw html

